html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

audio,
canvas,
video {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none; }

a img {
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

img {
  font-size: 0;
  height: auto; }

img,
object,
embed {
  max-width: 100%; }

.container {
  max-width: 100%;
  margin-left: 1.25rem;
  margin-right: 1.25rem; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 48em) {
    .container {
      max-width: 100%;
      margin-left: 2.5rem;
      margin-right: 2.5rem; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) {
    .container {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 80em) {
    .container {
      max-width: 73.75rem;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 90em) {
    .container {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.9375rem; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

a,
.link {
  color: #8c1515;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer; }
  a:active, a:hover,
  .link:active,
  .link:hover {
    color: #490b0b; }
  .text--white a,
  .link--white {
    color: #fff; }
    .text--white a:active, .text--white a:hover,
    .link--white:active,
    .link--white:hover {
      color: #d9d9d9; }

p {
  margin-bottom: 0.9375rem; }

em {
  font-style: italic; }

b,
strong {
  font-weight: 700; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super; }

small {
  font-size: smaller; }

abbr {
  border-bottom: 1px dotted #000;
  cursor: help; }

tt,
code,
kbd,
samp {
  font-family: monospace; }

ol,
ul {
  padding-left: 1.125rem;
  margin-bottom: 0.9375rem; }

label {
  font-weight: 700; }

blockquote p {
  display: inline; }

blockquote:before {
  content: '\201c'; }

blockquote:after {
  content: '\201d'; }

iframe {
  max-width: 100%; }

figure {
  line-height: 0; }


.btn,
button,
input[type='submit'] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: none;
  border-radius: 0;
  border: 0.0625rem solid #8c1515;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  min-width: 6.25rem;
  outline: none;
  padding: 0.9375rem 1.875rem;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: #8c1515;
  color: #fff;
  cursor: pointer;
  outline: 0; }
  
  .btn:active,
  button:active,
  input[type='submit']:active,
  .btn:hover,
  button:hover,
  input[type='submit']:hover {
    background-color: #490b0b;
    border-color: #490b0b;
    color: #fff; }

input[type='tel'],
.form-url,
.form-search,
.form-email,
.form-text, .form-textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-radius: 0;
  border: 0.0625rem solid #000;
  box-shadow: inherit;
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  padding: 0.4375rem 1.25rem;
  transition: all .3s ease-in-out;
  width: 100%; }
  input[type='tel']::-ms-clear,
  .form-url::-ms-clear,
  .form-search::-ms-clear,
  .form-email::-ms-clear,
  .form-text::-ms-clear, .form-textarea::-ms-clear {
    display: none; }
  input[type='tel']::-webkit-input-placeholder,
  .form-url::-webkit-input-placeholder,
  .form-search::-webkit-input-placeholder,
  .form-email::-webkit-input-placeholder,
  .form-text::-webkit-input-placeholder, .form-textarea::-webkit-input-placeholder {
    color: #1a1a1a;
    opacity: 1; }
  input[type='tel']::-moz-placeholder,
  .form-url::-moz-placeholder,
  .form-search::-moz-placeholder,
  .form-email::-moz-placeholder,
  .form-text::-moz-placeholder, .form-textarea::-moz-placeholder {
    color: #1a1a1a;
    opacity: 1; }
  input[type='tel']:-ms-input-placeholder,
  .form-url:-ms-input-placeholder,
  .form-search:-ms-input-placeholder,
  .form-email:-ms-input-placeholder,
  .form-text:-ms-input-placeholder, .form-textarea:-ms-input-placeholder {
    color: #1a1a1a;
    opacity: 1; }
  input[type='tel']:-moz-placeholder,
  .form-url:-moz-placeholder,
  .form-search:-moz-placeholder,
  .form-email:-moz-placeholder,
  .form-text:-moz-placeholder, .form-textarea:-moz-placeholder {
    color: #1a1a1a;
    opacity: 1; }
  input[type='tel']:focus,
  .form-url:focus,
  .form-search:focus,
  .form-email:focus,
  .form-text:focus, .form-textarea:focus {
    box-shadow: 0 0 0.3125rem black;
    outline: 0 none; }
  input.error[type='tel'],
  .error.form-url,
  .error.form-search,
  .error.form-email,
  .error.form-text, .error.form-textarea {
    border-color: #8c1515;
    color: #8c1515; }
    input.error[type='tel']::-webkit-input-placeholder,
    .error.form-url::-webkit-input-placeholder,
    .error.form-search::-webkit-input-placeholder,
    .error.form-email::-webkit-input-placeholder,
    .error.form-text::-webkit-input-placeholder, .error.form-textarea::-webkit-input-placeholder {
      color: #8c1515; }
    input.error[type='tel']::-moz-placeholder,
    .error.form-url::-moz-placeholder,
    .error.form-search::-moz-placeholder,
    .error.form-email::-moz-placeholder,
    .error.form-text::-moz-placeholder, .error.form-textarea::-moz-placeholder {
      color: #8c1515; }
    input.error[type='tel']:-ms-input-placeholder,
    .error.form-url:-ms-input-placeholder,
    .error.form-search:-ms-input-placeholder,
    .error.form-email:-ms-input-placeholder,
    .error.form-text:-ms-input-placeholder, .error.form-textarea:-ms-input-placeholder {
      color: #8c1515; }
    input.error[type='tel']:-moz-placeholder,
    .error.form-url:-moz-placeholder,
    .error.form-search:-moz-placeholder,
    .error.form-email:-moz-placeholder,
    .error.form-text:-moz-placeholder, .error.form-textarea:-moz-placeholder {
      color: #8c1515; }
    input.error[type='tel']:focus,
    .error.form-url:focus,
    .error.form-search:focus,
    .error.form-email:focus,
    .error.form-text:focus, .error.form-textarea:focus {
      box-shadow: 0 0 0.3125rem #8c1515;
      outline: 0 none; }
  input[disabled][type='tel'],
  [disabled].form-url,
  [disabled].form-search,
  [disabled].form-email,
  [disabled].form-text, [disabled].form-textarea {
    cursor: not-allowed; }

.form-textarea {
  height: auto;
  min-height: 12.5rem;
  padding: 0.9375rem 1.5625rem; }

.form-item,
.form-actions {
  margin: 0rem 0rem 1.625rem; }
  .form-item.form-type-checkbox, .form-item.form-type-radio,
  .form-actions.form-type-checkbox,
  .form-actions.form-type-radio {
    margin-bottom: 0.5rem; }

.form-type-checkbox label,
.form-type-radio label {
  font-weight: 400; }

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.5rem; }

table {
  margin-bottom: 0.9375rem;
  width: 100%; }
  @media (min-width: 64em) {
    table {
      min-width: 100%; } }

td,
th {
  border-bottom: 0.0625rem solid #000;
  min-width: 7.5rem;
  padding: 0.625rem 1.125rem;
  vertical-align: top; }
  tbody tr:first-of-type td, tbody tr:first-of-type
  th {
    border-top: 0.0625rem solid #000; }

th {
  font-weight: 700; }

.table-responsive {
  margin-bottom: 0.9375rem;
  overflow-x: auto;
  width: 100%; }
  .table-responsive table {
    margin-bottom: 0; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--dark {
  color: #000; }

.text--white {
  color: #fff; }

.bg--primary {
  background-color: #8c1515; }

.bg--white {
  background-color: #fff; }

@-o-viewport {
  zoom: 1;
  width: extend-to-zoom; }

@viewport {
  zoom: 1;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 16px;
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.4; }

body {
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }

.nav ul {
  margin-bottom: 0.625rem; }

.list-image {
  background-color: #f8f8f8; }
  .list-image h2 {
    text-align: center; }
  .list-image__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .list-image__item {
    width: calc(100% / 3); }
