.box-filter {
  margin-bottom: 30px;

  &__wrapper {
    display: flex;
    border-bottom: 1px solid rgba($black, .5);
    justify-content: space-between;
    flex-direction: column;

    @media only screen and (min-width: 467px) {
      padding-bottom: 5px;
    }

    @media only screen and (min-width: 767px) {
      flex-direction: row;
      padding-bottom: 0;
      align-items: flex-start;
    }
  }

  &__title {
     margin-bottom: 20px;

     @media only screen and (min-width: 767px) {
        white-space: nowrap;
        margin: 0;
        width: 30%;
     }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: auto;

    a {
      &.active {
        color: $white;
        background: $black;
      }
    }

    @media only screen and (min-width: 767px) {
      flex-wrap: wrap;
      width: 70%;
      
      li {
        margin: 0px 0px 10px 10px;
      }

      a {
        text-transform: uppercase;
        border: 1px solid $black;
      }
    }
  }
}
