.box-text{
  @media only screen and (min-width: 768px) {
    margin-bottom: 83px;
  }

  &__content {
    margin-bottom: 25px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 41px;
    }
  }

  &__link{
    margin: 0;

    @media only screen and (min-width: 768px) {
      text-align: center;
      margin-left: -19px;
    }
    

    .btn {
      padding: 0;
      width: 100%;

      @media only screen and (min-width: 768px) {
      padding: 0 22px;
      width: auto;
      margin: 3px;

      }
    }
  }
}