.box-image-text {
  &__wrap {
    display: flex;
    justify-content: space-between;  
  }

  &__content {
    width: 40%;

    a {
      border: solid 1px;
      background: #333132;
      color: #fff;
      padding: 10px 50px;
    }
  }

  &__image {
    
    width: 60%;
    margin-right: -65px;

    &__wrap {
      position: relative;
      margin-top: 25px;

      img {
        
      }

      .sub-image {
        position: absolute;
        top: 330px;
        left: -100px;
        background: #fff;
        box-sizing: border-box;
        width: 50%;
      }
    }
  }
}
