.box-filter {
  &__wrapper {
    position: relative;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    padding: 20px;
    position: relative;
    margin: 0;

    &:after {
      @extend %icons;
      content: "\e901";
      font-size: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    overflow: hidden;

    &.is-show {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      display: flex !important;
      position: static;
      justify-content: flex-end;
    }

    li {
      &:first-of-type {
        margin-left: none;
      }

      @media only screen and (min-width: 768px) {
        margin-left: 20px;
      }

      @media only screen and (min-width: 1280px) {
        margin-left: 30px;
      }

      a {
        @media only screen and (max-width: 1023px) {
          min-width: 168px;
        }
      }
    }
  }
}
