.box-contact {
  margin-bottom: 30px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    text-align: left;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__left {
    margin-bottom: 20px;
    @media only screen and (min-width: 768px) {
      width: 50%;
    }
  }
  
  &__content {
    h3,
    p {
      margin-bottom: 10px;
    }
  }

  &__info {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 20px;

    h5 {
      text-transform: uppercase;
      font-weight: bold;
    }

    p{
      margin-bottom: 10px;
    }
  }

  &__right {
    @media only screen and (min-width: 768px) {
      width: 50%;
      padding-left: 5%;
    }
  }
}
