.box-text{
  padding: 31px 0 18px;

  @media only screen and (min-width: 768px) {
    padding: 53px 0 83px;
  }

  &__content {
    margin-bottom: 25px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 41px;
    }
  }

  &__link{
    margin: 0;

    @media only screen and (min-width: 768px) {
      text-align: center;
    }
  }

  &--2but {
    .box-text__link {
      @media only screen and (min-width: 768px) {
        text-align: left;
        margin-left: -10px;
        
      }
    }
    .btn {
      @media only screen and (min-width: 768px) {
        margin: 0 10px;
      }
    }
  }
}
