body{

   width:917px;
}
.box-gallery{ 
  background: yellow;
  &__top{
         position:relative;
    line-height:0;
        svg{
           position:absolute;
            background:white;
        width:50px;
        height:50px;
        bottom: 10px;
        right:35px;
        
   transform: rotate(45deg);
   //  transform: skewY(45deg);
     
        }
  }

  &__bot{
    line-height:0;
    display:flex;
    justify-content:space-between;
    margin-top:12px;
       position:relative;

        svg{
       position:absolute;
       right:0;
       top:30%;
        background:white;
        width:50px;
        height:50px;
      }
       svg:last-of-type{
       position:absolute;
       left:0;
       top:30%;
        background:white;
        width:50px;
        height:50px;
      }
     img {
       transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      }
   img:hover {
     transform: scale(1.5,1.5);
     -webkit-transform: scale(1.5,1.5);
     -moz-transform: scale(1.5,1.5);
     -o-transform: scale(1.5,1.5);
      -ms-transform: scale(1.5,1.5);
    }
  }
}
