$primary-color: #fff;
$primary-background: #000;
.box-text{

  &__link{
     display: flex;
     justify-content: center;

    a{
      border: 1px solid $primary-color;
      padding: 10px;
      color: black;
      }

    a:hover{
      color: $primary-color;
      background:$primary-background;
      }
    }
}
