.box-image-text {
  background: transparent;
  padding: 40px 0 33px;

  @media only screen and (min-width: 768px) {
    padding: 59px 0;
  }

  &__subtitle {
    @extend .text--small;
    margin-bottom: 17px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    margin: 0 -2.5px 28px -2.5px;
    order: 2;

    @media only screen and (min-width: 768px) {
      margin: 0 -5px 74px -5px;
    }
  }

  &__image {
    line-height: 0;
    width: 50%;
    padding: 0 2.5px;
    position: relative;

    @media only screen and (min-width: 768px) {
      padding: 0 5px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__multilink {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &--right {
    background: $bg-primary;

    .box-image-text__wrap {
      @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;  
      } 
    }

    .box-image-text__list {
      margin: 0 0 28px;
      display: block;

      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }

    .box-image-text__image {
      padding: 0;
      width: 100%;
      box-shadow: 0 0 20px rgba($black, .2);
      
      img {
        width: 100%;
      }
    }

    .box-image-text__body {
      @media only screen and (min-width: 768px) {
        width: 50%;
        padding-right: 47px;
      }
    }
  }

  &--multilink {
    padding: 59px 0 39px;

    .box-image-text__multilink {
      .btn {
        @extend .btn--large;
        margin-right: 26px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      .box-image-text__body {
        margin-bottom: 33px;
      }
    }
  }

  &--gallery {
    .read-more {
      @media only screen and (min-width: 768px) {
        display: inline;
      }
    }
  }

  &--no-image {
    padding: 27px 0 17px;

    @media only screen and (min-width: 768px) {
      padding: 57px 0 40px;
    }

    .js-read-more {
      display: none;
    }
  }

  &--right-with-logo {
    .box-image-text__image {
      width: 100%;
      padding: 0;
    }

    .box-image-text__content {
      margin-bottom: 25px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 36px;
      }
    }

    .box-image-text__wrap {
      @media only screen and (min-width: 768px) {
        display: flex;
      }
    }

    .box-image-text__list {
      @media only screen and (min-width: 768px) {
        width: 50%;
        margin: 0;
      }
    }

    .box-image-text__body {
      @media only screen and (min-width: 768px) {
        width: 50%;
        padding-right: 47px;
      }
    }
  }
}