.box-contact {
  margin-bottom: 30px;
  text-align: left;
  padding: 24px 0;

  @media only screen and (min-width: 768px) {
    text-align: left;
    padding: 53px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__subtitle {
    @extend .text--bold;
  }

  &__info {
    p {
      @media only screen and (min-width: 768px) {
        margin-bottom: 18px;
      }
    }
  }

  &__list {
    border-bottom: 1px solid $primary-color;
    padding-bottom: 17px;
    margin-bottom: 37px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 5px;
      border: none;
    }
  }

  &__left {
    width: 100%;
    margin-bottom: 45px;

    @media only screen and (min-width: 768px) {
      width: 55%;
      margin-bottom: 19px;
    }
  }

  &__item {
    p{
      span {
        margin: 0 13px;

        @media only screen and (min-width: 768px) {
          margin: 0 13px;
        }
      }

      br {
        display: inline;
      }
    }
  }

  &__form {
    p {
      display: none;

      @media only screen and (min-width: 768px) {
        display: block;
      }
    }

    form {
      margin-top: 18px;

      @media only screen and (min-width: 768px) {
        margin-top: 0;
      }

      .form-list {
        margin-bottom: 19px;

        @media only screen and (min-width: 768px) {
          &:nth-last-child(2) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &__right {
    @media only screen and (min-width: 768px) {
      width: 45%;
      padding-left: 74px;
    }
  }
}

.break {
  display: none;

  @media only screen and (min-width: 768px) {
    display: inline;
  }
}
