.box-hero {
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      heihgt: 100%;
    }
  }

  &--width-slider {
      &.box-hero {
        height: 100vh;

        .box-hero__image {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
  }
}
