.box-gallery{
  @media only screen and (min-width: 768px) {
    margin-bottom: 58px;
  }
  
  &__wrapper {
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__left{
    @media only screen and (min-width: 768px) {
      width: 55%;
    }
  }

  &__right{
    @media only screen and (min-width: 768px) {
      width: 45%;
      padding-left: 29px;
    }
  }

  &__thumnail {
    height: 143px;
    overflow: hidden;

    &__item {
      padding: 10px 5px;
      overflow: hidden;
      height: 100%;

      @media only screen and (min-width: 768px) {
        padding: 20px 11.5px;
        position: relative;
      }

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
        height: auto;
        max-width: initial;

        @media only screen and (min-width: 768px) {
          height: 100%;
          width: auto;
        }
      }
    }

    .slick-track {
      @media only screen and (min-width: 768px) {
        left: -51px;
      }
    }

    .slick-list {
      margin: 0 -5px;

      @media only screen and (min-width: 768px) {
        margin: 0 0 0 -11.5px;
      }
    }
  }

  &__slider {
    overflow: hidden;

    @media only screen and (min-width: 768px) {
      height: 435px;
    }
    &__item {
      @media only screen and (min-width: 768px) {
        overflow: hidden;
        position: relative;
        height: 100%;
        overflow: hidden;
      }
      img {
        @media only screen and (min-width: 768px) {
          max-width: initial;
          position: absolute;
          height: 100%;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  
  &__content {
    overflow: hidden;
    @media only screen and (min-width: 768px) {
      margin-bottom: 22px;
    }
  }

  &__link {
    .icon-share {
      &:before {
        content: "\e905";
        margin-right: 12px;
      }
    }
  }
}
