.cta {
  height: 500px;
  position: relative;

  @media only screen and (min-width: 768px) {
    height: 650px;
  }

  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
      position: absolute;
      max-width: initial;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      @media only screen and (min-width: 1366px) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $second-color;
  }

  &__title {
    @extend %h1;
  }

  &__link {
    a {
      @extend .btn--large;
      @extend .btn--bg-white;
    }
  }
}
