.cta {
  height: 80vh;
  position: relative;

  &__image {
    position: relative;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $second-color;
  }
}
