.list-image {
  background-color: #f8f8f8;

  &__title {
    text-align: center;
    padding-bottom: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__wrap {
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
  }

  &__item {
    
    width: 100%;
    padding: 0 5px;

    img {
      width: 100%;
    }

    @media only screen and (min-width: 768px) {
      width: calc(100% / 2);
      
    }

    @media only screen and (min-width: 1068px) {
      width: calc(100% / 3);
      
    }
  }

  &--with-title {
    .list-image__title {
      text-align: center;
    }
  }
}
