.list-image {
  text-align: center;
  background: #f8f8f8;
  padding: 38px 0 32px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 55px;
    padding: 60px 0;
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding: 0 29px;
      max-width: 100%;
      margin: 0;
    }
  }

  &__inner {
    @media only screen and (min-width: 768px) {
      display: flex;
      margin: 0 -8px;
    }
  }
  
  &__title {
    margin-bottom: 39px;

    @media only screen and (min-width: 768px) {

    }
  }

  &__item {
    margin-bottom: 10px;

    @media only screen and (min-width: 768px) {
      padding: 0 8px;
      width: calc(100% / 3);

      &:hover .list-image__body{
        display: flex;
      }
    }
  }

  &__content {
    line-height: 0;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    background: rgba($black, .2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: none;

    .btn {
      @extend .btn--border-white;
    }
  }

  &--2c-with-title {

    .list-image__item {
      .btn {
        top: 40%;
        left: 53%;
        transform: translate(-50%, -50%);
      }
      @media only screen and (min-width: 768px) {
        width: calc(100% / 2);
      }
    }
  }

  &--2col-with-title {
    .list-image__item {
      padding-left: 20px;
      overflow: hidden;

      .btn {
        top: 40%;
        left: 53%;
        transform: translate(-50%, -50%);
      }

    .list-image__wrap {
      @media only screen and (min-width: 768px){
        padding: 0;
        margin-left: -16px;
      }
    }

      @media only screen and (min-width: 768px) {
        width: calc(100% / 2);
      }
    }
  }

  &--with-title {
    .list-image__item {


      .btn {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media only screen and (min-width: 768px) {
        width: calc(100% / 3);
      }
    }
  }
}
