body{
	font-family: "Time New Roman" ,Times,Serif;
	margin: auto;
}

.boxes{
	width: 100%;
	.boxes-list{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-bottom:30px;
		padding-right:5px;
		&__item{
			width: 32%;
			margin-left:10px;
			margin-bottom:10px;
			img{
				width:100%;
				
			}
			p{
				text-align: center;
				padding: 10px 30px 0 30px;
				color: #3a3a3a;
			}
		}

	}
}