.list-image {
  &__title {
    @media only screen and (min-width: 768px) {
      text-align: center;
      padding-bottom: 22px;
    }
  }

  &__wrap {
    @media only screen and (min-width: 768px) {
      display: flex;
      padding: 0 30px;
      flex-wrap: wrap;
      margin-left: -8px;
    }
  }

  &__item {
    @media only screen and (min-width: 768px) {
      overflow: hidden;
      padding-left: 8px;
      position: relative;

      &:hover {
        .btn{
          display: block
        }
      }
    }

    .btn {
      @media only screen and (min-width: 768px) {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        border: 1px solid #fff !important;
        color: #fff;
       
      }
    }

    img {
      @media only screen and (min-width: 768px) {
        max-width: initial;
      }
    }

    @media only screen and (min-width: 768px) {
      width: calc(100% / 3);
    }
  }

  &--2c-with-title {

    .list-image__item {
      .btn {
        top: 130px;
        left: 170px;
      }
      @media only screen and (min-width: 768px) {
        width: calc(100% / 2);
      }
    }
  }

  &--2col-with-title {
    .list-image__item {
      .btn {
        top: 130px;
        left: 170px;
      }
      @media only screen and (min-width: 768px) {
        width: calc(100% / 2);
      }
    }
  }

  &--with-title {
    .list-image__item {
      .btn {
        top: 100px;
        left: 80px;
      }

      @media only screen and (min-width: 768px) {
        width: calc(100% / 3);
      }
    }
  }
}
