.thank-you {
  padding: 102px 0 50px;

  @media only screen and (min-width: 768px) {
    padding: 145px 0 60px;
  }
  
  &__content {
    padding-bottom: 43px;

    @media only screen and (min-width: 768px) {
      padding-bottom: 60px;
    }
  }
  &__wrap {
    text-align: center;

    @media only screen and (min-width: 768px) {
      background: #f8f8f8;
      padding: 50px 0;
    }

    @media only screen and (min-width: 768px) {
      text-align: center;
    }
  }

  &__list {
    justify-content: center;
    display: flex;
    margin: 0 -6px;
    padding: 13px 0;

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin: 0 -15px;
    }
  }

  &__item {
    position: relative;
    padding: 0 6px;

    @media only screen and (min-width: 768px) {
      padding: 15px;
      position: relative;
    }
  }

  &__icon {
    position: absolute;
    top: 4px;
    left: 13px;

    @media only screen and (min-width: 768px) {
      position: absolute;
      top: 20px;
      left: 30px;
    } 
  }
}