%btn,
.btn {
  @include niramit;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 1px solid $green;
  box-shadow: none;
  text-transform: lowercase;
  display: inline-block;
  font-size: 14px;
  outline: none;
  padding: 12px 38px 15px 14px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background: $green url('../../../../images/arrow.png') no-repeat right 16px center;
  color: $white;
  cursor: pointer;
  outline: 0;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  
  &:active,
  &:hover {
    background-color: $btn-color-hover;
    border-color: $btn-color-hover;
    color: $white;
  }

  &--large-with-cart {
    background: $green url('../../../../images/cart.png') no-repeat left 106px center;
    padding: 14px 110px 14px 145px;
  }

  &--large-with-arrow {
    background: $green url('../../../../images/arrow.png') no-repeat right 66px center;
    padding: 13px 90px 13px 68px;
  }

  &--icon {
    padding: 15px 24px 15px 15px;
  }

  &--text {
    padding: 15px;
    background: $green;
    font-size: 12px;
    line-height: 1;
  }

  &--pink {
    background: #b41433;
  }

  &--blue {
    background: $blue;
  }

  &--light-blue {
    background: #97c5e8;
  }

  &--orange {
    background: #f3af86;
  }
}

a {
  @extend .text--center;
}
