%btn,
.btn {
  @include niramit;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 1px solid $btn-color;
  box-shadow: none;
  text-transform: lowercase;
  display: inline-block;
  font-size: 14px;
  outline: none;
  padding: 15px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background: $green url('../../../../images/arrow.png') no-repeat right;
  color: $white;
  cursor: pointer;
  outline: 0;
  
  &:active,
  &:hover {
    background-color: $btn-color-hover;
    border-color: $btn-color-hover;
    color: $white;
  }
}
