<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>{{ site_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
    {% block head %}
      <link rel="stylesheet" href="../css/styles.css">
      <!-- Base js library from drupal -->
      <script src="script/jquery.min.js"></script>
      <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
      <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
      {% include '../layouts/header.twig' %}
    {% endblock %}
    {% block content %}
      <main>
        {% include '../components/box-video-text.twig' %}
        {% include '../components/box-contact.twig' %}
      </main>
    {% endblock %}
    {% block footer %}
      {% include '../layouts/footer.twig' %}
    {% endblock %}
    {% block footer_scripts %}
      <script src="../js/lib/video.js"></script>
      <script src="../js/script.js"></script>
    {% endblock %}
  </body>
</html>
