
.box-feature{
  width: 100%;

  &__wrapper {
    width: 100%;
    display:flex;
    flex-wrap: wrap;

    @medio only screen and (min-width: 768px) {
      flex-wrap: nowrap;
    } 
  }

  &__update {
    margin-bottom: 10px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__follow {
    @media only screen and (min-width: 768px) {
      width: 50%;
      padding-left: 40px;
      box-sizing: border-box;
    }
  }
}

.list-icon {
  font-size: 20px;
  display: flex;

  .icon-facebook {
    &:before {
      content: "\e901";
      margin-right: 10px;
    }
  }

  .icon-instagram {
    &:before {
      content: "\ea92";
      margin-right: 10px;
    }
  }

  .icon-youtube {
    &:before {
      content: "\e900";
      margin-right: 10px;
    }
  }

  .icon-linkedin {
    &:before {
      content: "\eac9";
    }
  }
}
