.footer {
  padding: 40px 0;
  &__top {
    display: flex;
    justify-content: space-between;

    .main-menu {
      margin: 0 -43px;
      align-items: center;
      ul {
        display: flex;
      }
      li {
        list-style-type: none;
      }
      a {
        padding: 0 20px;
      }
    }
  }
  &__right {

    .back-to-top {
      &:after {
        content: "\e900";
        font-family: "icomoon";
        font-size: 40px;
        line-height: 1;
        transform: translateY(-27%);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &__text {
      margin: 0 -5px;

    }
  }
}
