.footer {
  text-align: center;

  .sub-menu {
    display: none;
  }

  .container {
    @media only screen and (max-width: 480px) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__top {
    margin-bottom: 36px;

    @media only screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding-bottom: 33px;
      border-bottom: 1px solid $primary-color;
      margin-bottom: 32px;
    }

    .main-menu {
      padding: 31px 0 27px;
      border-bottom: 1px solid $primary-color;

      @media only screen and (min-width: 1024px) {
        padding: 0;
        border: none;
      }
    }
  }

  &__bottom {
    margin-bottom: 28px;

    @media only screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0;
    }
  }

  &__link {
    background: $bg-primary;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 480px) {
      display: none;
    }
  }

  &__content {
    margin-bottom: 64px;

    @media only screen and (min-width: 1024px) {
      text-align: left;
      margin: 0;
    }

    p {
      @extend .text--tiny;

      br {
        @media only screen and (min-width: 480px) {
          display: none;
        }
      }
    }

    span {
      &.text--bold {
        margin-top: 16px;
        display: inline-block;

        @media only screen and (min-width: 1024px) {
          margin: 0 4px;
        }
      }

      &.symbol {
        margin: 0 7px 0 5px;

        @media only screen and (min-width: 1024px) {
          margin: 0 8px 0 3px;
        }

        &.symbol-change {
          display: none;

          @media only screen and (min-width: 1024px) {
            &.symbol-change {
              display: inline;
            }
          }
        }
      }
    }
  }

  &__image {
    line-height: 0;

    @media only screen and (min-width: 1024px) {
      margin-bottom: 15px;
      margin-right: -4px;
    }

    img {
      width: 213px;

      @media only screen and (min-width: 1024px) {
        width: 156px;
      }
    }
  }
}

.scroll-up {
  border-bottom: 1px solid $primary-color;
  padding-bottom: 33px;

  @media only screen and (min-width: 1024px) {
    border: none;
    padding: 0;
  }

  .icon-arrow-up {
    padding-right: 30px;
    position: relative;
    font-size: 12px;

    &:after {
      content: "\e903";
      position: absolute;
      font-size: 30px;
      top: 50%;
      right: -8px;
      transform: translateY(-50%);
    }
  }
}
