.header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #fff;

  @media only screen and (min-width: 1240px) {
    height: 85px;
    box-shadow: 0 1px 3px 1px rgba($primary-color, .2);
  }

  .container {
    @media only screen and (max-width: 1239px) {
      margin: 0;
      width: 100%;
      padding: 0;
      max-width: initial;
    }

    @media only screen and (min-width: 1240px) and (max-width: 1919px) {
      padding: 0 29px;
      margin: 0;
      max-width: initial;
    }
  }

  &__wrap {
    @media only screen and (min-width: 1240px) {
      height: 85px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
      
    @media only screen and (min-width: 1240px) {
      padding: 0;
    }

    a {
      line-height: 0;

      img {
        width: 240px;

        @media only screen and (min-width: 1240px) {
          width: 306px;
        }
      }
    }
  }

  &__menu {
    display: none;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: calc(100% - 71px);
    background: $white;
    padding-top: 5px;

    @media only screen and (min-width: 1240px) {
      position: static;
      padding: 0;
      height: 100%;
      display: flex;
      width: auto;
      min-width: initial;
      overflow: initial;
    }
  

    .main-menu {
      margin-bottom: 35px;

      @media only screen and (min-width: 1240px) {
        margin-bottom: 0;
      }

      > li {
        &:last-child {
          display: none;

          @media only screen and (min-width: 1240px) {
            display: flex;

            &:hover {
              a:before {
                display: none;
              }
            }
          }
        }

        &:first-child {
          @media only screen and (min-width: 1240px) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.box-search {
  position: relative;
  padding: 0 20px;
  background: $bg-primary;

  @media only screen and (min-width: 1240px) {
    padding: 0;
    background: $white;
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  &:hover {
    .form-search {
      display: block;
    }
  }

  .form-search {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media only screen and (min-width: 1240px) {
      position: absolute;
      background: $white;
      top: 100%;
      width: 291px;
      z-index: 99;
      right: -22px;
      padding: 0 25.5px;
      box-shadow: inset 0 1px 3px 1px rgba($primary-color, .2);
      display: none;

      &:before {
        @include border-arrow(9px, bottom, rgba($primary-color, .5));
        content: "";
        position: absolute;
        bottom: 100%;
        right: 25.5px;
      }
    }

    .form-item {
      margin: 0;
      width: 100%;

      input[type="text"] {
        @extend %link;
        @extend %form-text--oversize;
        cursor: auto;
        padding-right: 20px;
      }
    }
  }
  
  .item-icon {
    position: absolute;
    right: 20px;
    top: calc(50% - 5px);
    transform: translateY(-50%);

    @media only screen and (min-width: 1239px) {
      position: static;
      transform: none;
      display: flex;
    }

    .icon-search {
      position: relative;
      right: -6px;

      &:before {
        content: "\e906";
        font-size: 30px;
        right: 0;
      }
    }
  }
}

.menu-bars {
  width: 27px;
  display: inline-block;

  @media only screen and (min-width: 1240px) {
    display: none;
  }

  &__row {
    display: block;
    background: $primary-color;
    height: 3px;
    transition: .2s;
    
    &:nth-child(2) {
      height: 2px;
    }

    & ~ & {
      margin-top: 3px;
    }
  }

  &.is-show {
    .menu-bars__row:nth-child(1) {
      height: 2px;
      width: 20px;
      transform: translateY(5px) rotate(-45deg);
    }

    .menu-bars__row:nth-child(2) {
      opacity: 0;
    }

    .menu-bars__row:nth-child(3) {
      height: 2px;
      width: 20px;
      transform: translateY(-5px) rotate(45deg)
    }
  }
}

.no-scroll {
  overflow: hidden;
}
