<div class="request-form bg--dark-blue">
  <div class="container">
    <h2 class="request-form__title">request a call back</h2>

    <form action="" method="POST">
      <div class="form-list">
        <div class="form-item">
          <input type="text" placeholder="firstname">
        </div>

        <div class="form-item">
          <input type="email" placeholder="lastname">
        </div>

        <div class="form-item">
          <input type="number" placeholder="phone">
        </div>

        <div class="form-item form-item--submit">
          <input type="submit"></input>

        </div>
      </div>
    </form>
  </div>
</div>
