<div class="box-text">
  <div class="container">
    <h2>Thank you for getting in touch</h2>
    <div class="box-text__content">
      <p>
        One of our designers will respond to your enquiry shortly.
      </p>
    </div>
  </div>
</div>
