<div class="box-contact">
  <div class="container">
    <div class="box-contact__wrapper">
      <div class="box-contact__left">
        <div class="box-contact__info">
          <h2 class="box-contact__title">Book a consultation</h2>
          <p>Arrange a personalised in home consultation with one of our designers,<br> explore design possibilities for an uncompromising result</p>
        </div>
        <!-- box contact info -->
        <div class="box-contact__list">
          <div class="box-contact__item">
            <h5 class="box-contact__subtitle text--bold">Design headquarters</h5>
            <p>1300 133 326<span>|</span>0499 458 033</p>
          </div>

          <div class="box-contact__item">
            <h5 class="box-contact__subtitle text--bold">EMAIL</h5>
            <p>info@frenchtables.com.au</p>
          </div>
        </div>

        <div class="box-contact__form">
          <h2 class="box-contact__title">Enquiry Form</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. </p>
          <form action="" method="POST">
            <div class="form-list">
              <div class="form-item">
                <input type="text"  placeholder="Name*">
              </div>

              <div class="form-item">
                <input type="text"  placeholder="Email*">
              </div>

              <div class="form-item">
                <input type="text"  placeholder="Phone">
              </div>
            </div>

            <div class="form-list">
              <div class="form-item">
                <input type="text"  placeholder="Message">
              </div>

              <div class="form-item">
                <input type="text"  placeholder="What is the first letter in the word tables?">
              </div>
            </div>
            
            <div class="form-list">
              <div class="form-item">
                <input type="submit" class="btn--longer btn--border">
              </div>
            </div>
          </form>
        </div>      
      </div>

      <div class="box-contact__right">
        <div class="box-contact__info">
          <h2 class="box-contact__title">LOCATIONS</h2>
          <p>Australia wide and international design consultations. Showroom viewings by appoinment only.</p>
        </div>

        <div class="box-contact__info">
          <div class="box-contact__item">
            <h5 class="box-contact__subtitle">Melbourne</h5>
            <p>Level 27, 101 Collins Street,<br />Melbourne VIC 3000 </p>
          </div>

          <div class="box-contact__item">
            <h5 class="box-contact__subtitle">Sydney</h5>
            <p>Level 26, 44 Market Street,<br />Sydney NSW 2000</p>
          </div>

          <div class="box-contact__item">
            <h5 class="box-contact__subtitle">Brisbane</h5>
            <p>Level 27, Santos Place 32, <br />Turbot Street, <br />Brisbane QLD 4000</p>
          </div>

          <div class="box-contact__item">
            <h5 class="box-contact__subtitle">Adelaide</h5>
            <p>Level 30, Westpac House, <br />91 King William Street, <br />Adelaide SA 5000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
