<div class="box-image-text">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__image"> 
        <div class="box-image-text__image__wrap">
          <img class="main-image" src ="../images/Layer-011.jpg" alt="">
        </div> 
          <img class="sub-image" src="../images/Sub-image.svg" alt=""> 
      </div>
      <div class="box-image-text__content">
        <h6 class="box-image-text__sub-title text--small">WELCOME</h6>
        <h2 class="box-image-text__title">ULLAMCORPER<br> MALES<span class="white-space"></span>UADA PROIN<br> LIBERO NUNC<br> <span class="text">IPSUM TEMPOR</span></h2>
        <div class="box-image-text__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut eu sem integer.</p>
        </div>
        <div class="box-image-text__link">
          <a class="btn border--black" href="#">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
