<div class="box-gallery">
  <div class="container">
    <div class="box-gallery__wrapper">
      <div class="box-gallery__left">
        <div class="box-gallery__slider js-slider--default js-lightbox">
          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner01.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner02.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner03.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner04.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner05.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner06.jpg" alt="">
              <i class="icon-resize"></i>
            </div>
          </div>
        </div>

        <div class="box-gallery__thumnail js-slider--thumnail">
          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner01.jpg" alt="">
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner02.jpg" alt="">
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner03.jpg" alt="">
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner04.jpg" alt="">
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner05.jpg" alt="">
            </div>
          </div>

          <div class="box-gallery__item">
            <div class="box-gallery__image">
              <img src="../images/banner06.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="box-gallery__right">
        <h6 class="box-gallery__subtitle text--small">RECTANGLE DINING TABLES</h6>

        <h2 class="box-gallery__title text--long">Rectangle dining <br />table product <br /> description ONE</h2>

        <div class="box-gallery__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
          <p><span class="text--bold">Product code </span>RT0001</p>
          <p class="text--bold">Text on customisation. Contact us on 1800 000 000 to discuss how we can customise this product to suit your needs.</p>
        </div>

        <div class="box-gallery__link">
          <a href="" class="btn btn--border-primary">Enquire Now</a><a href="" class="btn btn--border-primary icon-share">Share</a>
        </div>
      </div>
    </div>
  </div>
</div>
