<!-- box hero -->
<div class="box-hero">
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>    
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test-2.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test-2.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
  <!-- box hero item -->
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../../images/box-text-test-2.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES BY <br /> MARK ALEXANDER DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#">VIEW TABLES</a>
      </div>
    </div>
  </div>
</div>
