<div class="box-gallery">

  <div class="box-gallery__top">
    <img src="/images/623.jpeg" alt="anh top">
  </div>

  <div class="box-gallery__bot">
    <img  src="/images/135 (2).jpeg" alt="anh bot 1">
    <img src="/images/135 (2).jpeg" alt="anh bot 2" >
    <img src="/images/135 (2).jpeg" alt="anh bot 3">
    <img src="/images/135 (2).jpeg" alt="anh bot 4">
  </div>

</div>
