<div class="box-image-text box-image-text--no-image">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__body">
        <h6 class="box-image-text__subtitle">PHILOSOPHY</h6>
        <h2 class="box-image-text__title">Our Difference</h2>

        <div class="box-image-text__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Risus ultricies tristique nulla aliquet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Felis bibendum ut tristique et egestas quis ipsum. Nisi vitae suscipit tellus mauris. Quam nulla porttitor massa id neque aliquam vestibulum. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Ipsum faucibus vitae aliquet nec ullamcorper sit.</p>

          <span class="js-read-more">READ MORE &gt;</span>
        </div>
      </div>
    </div>
  </div>
</div>
