<!-- box hero -->
<div class="box-hero box-hero--width-slider">
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner01.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">French Tables <br /> by <br /> Mark Alexander <br />  Design Artistry</h2>
      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>    
  </div>

  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner02.jpg" alt="">z
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES <br /> BY <br /> MARK ALEXANDER <br />  DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>
  </div>

  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner03.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES <br /> BY <br /> MARK ALEXANDER <br />  DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>
  </div>

  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner04.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES <br /> BY <br /> MARK ALEXANDER <br /> DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>
  </div>

  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner05.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES <br /> BY <br /> MARK ALEXANDER <br /> DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>
  </div>

  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner06.jpg" alt="">
    </div>
    
    <div class="box-hero__content">
      <h2 class="box-hero__title">FRENCH TABLES <br /> BY <br /> MARK ALEXANDER <br /> DESIGN ARTISTRY</h2>

      <div class="box-hero__link">
        <a href="#" class="btn btn--longer ">VIEW TABLES</a>
      </div>
    </div>
  </div>
</div>

<div class="scroll-element">
  <i class="icon-scroll js-scroll-down"></i>
</div>
