<div class="box-image-text box-image-text--right">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__list">
        <div class="box-image-text__image">
          <img src ="../images/FrenchTables_detail_01.jpg" alt="">
        </div>
      </div>
      
      <div class="box-image-text__body">
        <h2 class="box-image-text__title">1. CONCEPT SKETCH</h2>

        <div class="box-image-text__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla. <span class="read-more">Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Risus ultricies tristique nulla aliquet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Felis bibendum ut tristique et egestas quis ipsum. Nisi vitae suscipit tellus mauris. </span> </p>

          <span class="js-read-more">READ MORE &gt;</span>
        </div>
      </div>
    </div>
  </div>
</div>
