<div class="box-contact">
  <div class="container">
    <div class="box-contact__wrapper">
      <div class="box-contact__left">
        <div class="box-contact__content">
          <h3>LOREM LOREM LOREM</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptates, reprehenderit! Fuga.</p>
        </div>
        <!-- box contact info -->
        <div class="box-contact__info">
          <div class="box-contact__item">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>000000000 | 00000</p>
          </div>

          <div class="box-contact__item">
            <h5>EMAIL</h5>
            <p>00000000000000@gmail.com</p>
          </div>

          <div class="box-contact__content">
            <h3>LOREM LOREM LOREM</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptates, reprehenderit! Fuga.</p>
          </div> 
        </div>
        <!-- box contact form -->
        <form action="" method="POST">
          <div class="form-item">
            <input type="text"  placeholder="Lorem ipsum dolor.">
          </div>

          <div class="form-item">
            <input type="text"  placeholder="Lorem ipsum dolor.">
          </div>

          <div class="form-item">
            <input type="submit" class="btn--longer btn--border btn" placeholder="Lorem ipsum dolor."s>
          </div>
        </form>      
      </div>

      <div class="box-contact__right">
        <div class="box-contact__content">
          <h3>LOREM LOREM LOREM</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptates, reprehenderit! Fuga.</p>
        </div>

        <div class="box-contact__info">
          <div class="box-contact__item">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet,<br > consectetur adipisicing elit.<br > Fugit sed magni repudiandae.</p>
          </div>

          <div class="box-contact__item">
            <h5>Lorem ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet,<br > consectetur adipisicing elit.<br > Fugit sed magni repudiandae.</p>
          </div>

          <div class="box-contact__item">
            <h5>Lorem ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet,<br > consectetur adipisicing elit.<br > Fugit sed magni repudiandae.</p>
          </div>

          <div class="box-contact__item">
            <h5>Lorem ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet,<br > consectetur adipisicing elit.<br > Fugit sed magni repudiandae.</p>
          </div>

          <div class="box-contact__item">
            <h5>Lorem ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet,<br > consectetur adipisicing elit.<br > Fugit sed magni repudiandae.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
