<!-- box hero no slider -->
<div class="box-hero">
  <div class="box-hero__item">
    <div class="box-hero__image">
      <img src="../images/banner01.jpg" alt="">
    </div>

    <div class="box-hero__content">
      <h2 class="box-hero__title">Rectangle <br /> Dining Tables</h2>
      <div class="box-hero__link">
        <a href="#" class="btn btn--longer btn--border">VIEW TABLES</a>
      </div>
    </div>
  </div>

  <div class="scroll-element">
    <i class="icon-scroll js-scroll-down"></i>
  </div>
</div>
