<div class="box-filter">
  <div class="container">
    <div class="box-filter__wrapper">
      <h2 class="box-filter__title">explore by style</h2>

      <ul class="box-filter__list">
        <li><a href="#" class="btn">Classic</a></li>
        <li><a href="#" class="btn">Contemporary</a></li>
        <li><a href="#" class="btn active">VIEW ALL</a></li>
      </ul>
    </div>
  </div>
</div>
