<div class="box-image-text box-image-text--multilink">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__list">
        <div class="box-image-text__image">
          <img src="../images/FrenchTables_detail_02.jpg" alt="">
        </div>

        <div class="box-image-text__image">
          <img src="../images/FrenchTables_detail_03.jpg" alt="">
        </div>
        
        <div class="box-image-text__image hidden-on-mobile">
          <img src="../images/FrenchTables_detail_04.jpg" alt="">
        </div>
      </div>

      <div class="box-image-text__body">
        <h2 class="box-image-text__title">2. Scale Pattern <br class="hidden-on-desktop" /> Drawings</h2>

        <div class="box-image-text__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut eu sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="hidden-on-desktop"> Amet luctus venenatis lectus magna fringilla. </span> <span class="read-more">Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut eu sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in.</span> </p>

          <span class="js-read-more">READ MORE &gt;</span>
        </div>
      </div>

      <div class="box-image-text__multilink">
        <a href="#" class="btn">book a Consultation</a>
        <a href="#" class="btn">VIEW OUR WORK</a>
      </div>
    </div>
  </div>
</div>
