<div class="box-image-text">
  <div class="container">
    <div class="box-image-text__wrap">
      <div class="box-image-text__content">
        <p>WELCOME</p>
        <h2 class="box-image-text__title">ULLAMCORPER<br>MALESUADA PROIN<br>LIBERO NYNC.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aut quia dolor quo, ab consequuntur atque aspernatur blanditiis asperiores quisquam libero nemo a quidem eligendi harum numquam praesentium ducimus, quos. Soluta necessitatibus quam provident nihil eveniet voluptatibus dignissimos pariatur velit perspiciatis voluptas.</p>
        <a href="#">LEARN MORE</a>
      </div>
      <div class="box-image-text__image">
        <img src ="../../images/box-text-image.jpg" alt="">
        <div class="box-image-text__image__item">
          <img src="../../images/child.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



