<div class="box-filter">
  <div class="container">
    <div class="box-filter__wrapper">
      <h3 class="box-filter__title">Lorem ipsum </h3>

      <ul class="box-filter__content">
        <li><a href="#" class="btn active">HOME HOME</a></li>
        <li><a href="#" class="btn">HOME HOME</a></li>
        <li><a href="#" class="btn">HOME HOME</a></li>
        <li><a href="#" class="btn">HOME HOME</a></li>
        <li><a href="#" class="btn">HOME HOME</a></li>
        <li><a href="#" class="btn">HOME HOME</a></li>
      </ul>
    </div>
  </div>
</div>
