<div class="cta cta--width-slider">
  <div class="cta__image">
    <img src="../images/cta.jpg" alt="">
  </div>

  <div class="cta__content">
    <h2 class="cta__title">French Tables by Mark Alexander  Design Artistry</h2>
    <div class="cta__link">
      <a href="#" class="btn btn--longer ">VIEW TABLES</a>
    </div>
  </div>
</div>
