<div class="cta">
  <div class="cta__image">
    <img src="../images/cta.jpg" alt="">
  </div>

  <div class="cta__content">
    <h2 class="cta__title">HANDCRAFTED IN <br class="break-mobile" /> MELBOURNE</h2>
    <div class="cta__link">
      <a href="#" class="btn">VIEW OUR WORK</a>
    </div>
  </div>
</div>
