<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<!-- philosophy -->
<div class="philosophy">
  <div class="container">
    <h5>philosophy</h5>
    <h2>our difference</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<!--end philosophy -->

<!-- concept sketch -->
<div class="concept-sketch">
  <div class="container">

    <div class="concept-sketch--column">

      <div class="concept-sketch__left">
        <h2>1. concept sketch</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla.</p>
        <p>Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Risus ultricies tristique nulla aliquet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Felis bibendum ut tristique et egestas quis ipsum. Nisi vitae suscipit tellus mauris.</p>
      </div>

      <div class="concept-sketch__right">
         <img src="/images/504.jpeg">
         <img src="/images/325.jpeg">
      </div>

    </div>

  </div>
</div>
<!-- end concept sketch -->

<!-- manufacturing -->
<div class="scale">
  <div class="container">

    <div class="scale__images">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
    </div>

    <div class="scale__text">
      <h2>2. scale pattern drawings</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in.</p>
    </div>

  </div>
</div>
<!-- end manufacturing -->


<!-- profile -->
<div class="profile">
  <div class="container">
    <div class="profile--column">

      <div class="profile__left">

        <h2>3. profile development</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venennatis lectus magna frigilla.</p>

        <p>Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Risus ultricies trisique nulla aliquet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Felis bibendum ut tristique et egestas quis ipsum. Nisi vitae suscipit tellus mauris.
        </p>

      </div>

      <div class="profile__right">

        <img src="/images/510.jpeg">

      </div>

    </div>
  </div>
</div>
<!-- end profile -->

<!-- manufacturing -->
<div class="manufacturing">
  <div class="container">

    <div class="manufacturing__images">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
    </div>

    <div class="manufacturing__text">
      <h2>4. manufacturing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in.</p>
    </div>

  </div>
</div>
<!-- end manufacturing -->

<!-- polishing -->
<div class="polishing">
  <div class="container">
    <div class="polishing--column">

      <div class="polishing__left">

        <h2>5. polishing</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venennatis lectus magna frigilla.</p>

        <p>Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Risus ultricies trisique nulla aliquet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Felis bibendum ut tristique et egestas quis ipsum. Nisi vitae suscipit tellus mauris.
        </p>

      </div>

      <div class="polishing__right">

        <img src="/images/510.jpeg">

      </div>

    </div>
  </div>
</div>
<!-- end polishing -->


<!-- complete -->
<div class="complete">
  <div class="container">

    <div class="complete__images">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
      <img src="/images/D9_02.JPG">
    </div>

    <div class="complete__text">
      <h2>6. complete</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in. Fermentum et sollicitudin ac orci phasellus egestas tellus rultrum tellus. Sodales ut eu integer. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod in.</p>
    </div>

    <div class="complete__button">
      <a href="">book a consultation</a>
      <a href="">view our work</a>
    </div>

  </div>
</div>
<!-- end complete -->

<!-- new -->
<div class="new">
  <div class="container">
    <div class="new--column">

      <div class="new__left">
        <h6>sign up</h6>
        <h2>news & updates</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <input type="text" name="" placeholder="name">
        <input type="email" name="" placeholder="email">
        <input type="submit" name="" placeholder="submit">
      </div>

      <div class="new__right">
        <h6>stay in touch</h6>
        <h2>follow us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
        <div class="icon">
          <div class="icon-left"></div>
          <div class="icon-right"></div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end new -->

<!-- footer -->
<div class="footer">
  <div class="container">

    <div class="footer__top">
      <div class="footer__top__menu">
        <ul>
          <li><h5><a href="">home</a></h5></li>
          <li><h5><a href="">tables</a></h5></li>
          <li><h5><a href="">dining chairs</a></h5></li>
          <li><h5><a href="">sideboards</a></h5></li>
          <li><h5><a href="">work</a></h5></li>
          <li><h5><a href="">about</a></h5></li>
          <li><h5><a href="">contact</a></h5></li>
        </ul>
      </div>
      <div class="footer__top__back">
        <ul>
          <li><h5><a href="">back to top</a></h5></li>
          <li><h5><a href="" class="icon-back"></a></h5></li>
        </ul>
      </div>
    </div>
    
    <hr>

    <div class="footer__bot">
      <div class="footer__bot__menu menu">
        <div class="menu__left">
          <ul>
            <li><h6>french tables C 2018 all rights reserved <strong>australia | internatioal</strong></h6></li>
            <li><h6>privacy policy | strategy, design & development by sentius</h6></li>
          </ul>
        </div>

        <div class="menu__right">
          <ul>
            <li><h2>ma</h2></li>
            <li><h6>mark alexander design artisty</h6></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end footer -->
</body>
</html>
