<div class="gallery">
  <div class="container">
    <div class="gallery__A">

      <div class="gallery__list gallery--left">
      <div class="gallery__images-top">
        <img src="/images/900.jpeg" alt="anh top">
        <a href="#" class="arrow-top"></a>
      </div>

      <div class="gallery__images-bot">
        <img  src="/images/210.jpeg" alt="anh A">
        <img src="/images/210.jpeg" alt="anh B" >
        <img src="/images/210.jpeg" alt="anh C">
        <img src="/images/210.jpeg" alt="anh D">

        <a href="#" class=" arrow-left"></a>
        <a href="#" class="arrow-right"></a>
      </div>
    </div>

    <div class="gallery__list gallery--right">

      <h5 class="gallery__subtitle">rectangle dining tables</h5>
      <h2 class="gallery__title">rectangle dining tables product description one</h2>

      <div class="gallery__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>

        <p><strong>Product code</strong> RTOOO1</p>

        <p>Text on customisation. Contact us on 1800 000 000 to discuss how we can customise this product to suit your needs</p>

      </div>

      <div class="gallery__button">
        <a href="#">enquire now</a>
        <a href="#" class="icon">share</a>
      </div>

    </div>
    </div>
  </div>
</div>
