{% block heading %}
<div class="container">
  <h1>Heading Level 1 | 36px</h1>
  <h2>Heading Level 2 | 30px</h2>
  <h3>Heading Level 3 | 24px</h3>
  <h4>Heading Level 4 | 16px</h4>
  <h5>Heading Level 5 | 14px</h5>
  <h6>Heading Level 6 | 12px</h6>
</div>
{% endblock %}
