<h2 class="caption">VIEW OUR COLLECTION</h2>

<div class="list-image">
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/category-tables.html">
            <img src="../images/FrenchTable_Image_16.jpg" alt="">
            <span href="#">VIEW TABLES</span>
          </a>
        </div>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_17.jpg" alt="">
            <span href="#">VIEW CHAIRS</span>
          </a>
        </div>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/sideboards.html">
            <img src="../images/FrenchTable_Image_18.jpg" alt="">
            <span href="#">VIEW SIDEBOARDS</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
