<div class="list-image list-image--modifi1-with-title" >
  <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
  <div class="list-image__wrap">
    <div class="list-image__item">
      <img src="../../images/02.jpg" alt="">
      <h4>Curved Arm Dining Chair With Optional Ring Detail</h4>
    </div>
    <div class="list-image__item">
      <img src="../../images/03.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/02.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/03.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
  </div>
</div>
