<div class="list-image list-image--2c-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <a href="#">
            <img src="../images/FrenchTable_Image_10.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>
        <h5 class="list-image__title">cabinets</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="#">
            <img src="../images/FrenchTable_Image_11.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">console</h5>
      </div>
    </div>
  </div>
</div>