<div class="list-image">
  <div class="container">
    <div class="list-image__wrap">
      <h2 class="list-image__title">VIEW OUR COLLECTION</h2>
      
      <div class="list-image__inner">
        <div class="list-image__item">
          <div class="list-image__image">
            <img src="../images/FrenchTable_Image_16.jpg" alt="">
          </div>
          
          <div class="list-image__content">
             <a class="btn btn--border" href="#">VIEW TABLES</a>
          </div>
        </div>

        <div class="list-image__item">
          <div class="list-image__image">
            <img src="../images/FrenchTable_Image_17.jpg" alt="">
          </div>
          
          <div class="list-image__content">
             <a class="btn btn--border" href="#">VIEW CHAIRS</a>
          </div>
        </div>

        <div class="list-image__item">
          <div class="list-image__image">
            <img src="../images/FrenchTable_Image_18.jpg" alt="">
          </div>
          
          <div class="list-image__content">
             <a class="btn btn--border" href="#">VIEW SIDEBOARDS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
