<div class="list-image">
  <div class="container">
    <h2 class="list-image__title">VIEW OUR COLLECTION</h2>
    <div class="list-image__wrap">
      <div class="list-image__item">
      <a class="btn btn--border" href="#">VIEW TABLES</a>
        <img src="../images/FrenchTable_Image_16.jpg" alt="">
      </div>
      <div class="list-image__item">
       <a class="btn btn--border" href="#">VIEW CHAIRS</a>
        <img src="../images/FrenchTable_Image_17.jpg" alt="">
      </div>
      <div class="list-image__item">
      <a class="btn btn--border" href="#">VIEW SIDEBOARDS</a>
        <img src="../images/FrenchTable_Image_18.jpg" alt="">
      </div>
    </div>
  </div>
</div>
