<div class="list-image list-image--2c-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../../images/image11.jpg" alt="">
        <h5 class="list-image__title">cabinets</h5>
      </div>
      <div class="list-image__item">
        <img src="../../images/image12.jpg" alt="">
        <h5 class="list-image__title">console</h5>
      </div>
    </div>
  </div>
</div>