<div class="list-image">
  <h2 class="list-image__title">VIEW OUR COLLECTION</h2>
  <div class="list-image__wrap">
    <div class="list-image__item">
      <img src="../images/image01.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../images/image02.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../images/image03.jpg" alt="">
    </div>
  </div>
</div>
