<div class="list-image list-image--with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../../images/image1.jpg" alt="">
        <h4 class="list-image__title">Curved Arm Dining Chair With Optional Ring Detail</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image2.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image3.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image4.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image5.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image6.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image7.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image8.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Titlet</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image9.jpg" alt="">
        <h4 class="list-image__title">Rectangle Dining Table Product Title</h4>
      </div>
    </div>
    <div class="list-image__link">
      <a href="#">LEARN MORE</a>
    </div>
  </div>
</div>
