<h2 class="caption">VIEW OUR COLLECTION</h2>

<div class="list-image">
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/category-tables.html">
            <img src="../images/FrenchTable_Image_13.jpg" alt="">
            <span href="#">VIEW TABLES</span>
          </a>
        </div>

        <h5 class="list-image__title">cabinets</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_13.jpg" alt="">
            <span href="#">VIEW CHAIRS</span>
          </a>
        </div>

        <h5 class="list-image__title">cabinets</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/sideboards.html">
            <img src="../images/FrenchTable_Image_13.jpg" alt="">
            <span href="#">VIEW SIDEBOARDS</span>
          </a>
        </div>

        <h5 class="list-image__title">cabinets</h5>
      </div>
    </div>
  </div>
</div>
