<div class="list-image" >
  <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
  <div class="list-image__wrap">
    <div class="list-image__item">
      <img src="../../images/02.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/03.jpg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/04.jpg" alt="">
    </div>
  </div>
</div>
