<div class="list-image list-image--2c-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_10.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>
        <h5 class="list-image__subtitle">cabinets</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_11.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>

        <h5 class="list-image__subtitle">console</h5>
      </div>
    </div>
  </div>
</div>