<div class="list-image list-image--with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_01.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Curved Arm Dining Chair With Optional Ring Detail</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_02.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_03.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_04.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_05.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_06.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_07.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_08.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Titlet</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_09.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
    </div>
    <div class="list-image__link">
      <a href="#">LEARN MORE</a>
    </div>
  </div>
</div>
