<div class="list-image list-image--2col-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../images/image13.jpg" alt="">
        <h5 class="list-image__title">Rectangle dining tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/image14.jpg" alt="">
        <h5 class="list-image__title">Round dining tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/image15.jpg" alt="">
        <h5 class="list-image__title">extension tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/image16.jpg" alt="">
        <h5 class="list-image__title">Coffee tables</h5>
      </div>
    </div>
  </div>
</div>