<div class="list-image list-image--2r-2col-with-title" >
  <div class="container">
    <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../../images/image13.jpg" alt="">
        <h4 class="list-image__title">Rectangle dining tables</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image14.jpg" alt="">
        <h4 class="list-image__title">Round dining tables</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image15.jpg" alt="">
        <h4 class="list-image__title">extension tables</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image16.jpg" alt="">
        <h4 class="list-image__title">Coffee tables</h4>
      </div>
    </div>
  </div>
</div>
