<div class="list-image">
	<h2>VIEW OUR PRODUCTS</h2>
	<div class="list-image__wrap">
		<div class="list-image__item">
			<img src="../../images/list-image.jpg" alt="">
		</div>
		<div class="list-image__item">
			<img src="../../images/list-image.jpg" alt="">
		</div>
		<div class="list-image__item">
			<img src="../../images/list-image.jpg" alt="">
		</div>
	</div>
</div>