<div class="list-image list-image--with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_01.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>
        
        <h5 class="list-image__title">Curved Arm Dining Chair With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
         <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>
        
        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_03.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_04.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_05.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_06.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_07.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Titlet</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Rectangle Dining Table Product Title</h5>
      </div>
    </div>
    
    <div class="list-image__link">
      <a href="#">LEARN MORE</a>
    </div>
  </div>
</div>
