<div class="list-image">
  <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
  <div class="list-image__wrap">
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
    </div>
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
    </div>
  </div>
</div>
