<div class="list-image">
  <div class="container">
    <div class="list-image__wrap">
      <h2 class="list-image__title">VIEW OUR COLLECTION</h2>
      
      <div class="list-image__inner">
        <div class="list-image__item">
          <div class="list-image__content">
            <img src="../images/FrenchTable_Image_16.jpg" alt="">
            <div class="list-image__body">
               <a class="btn" href="#">VIEW TABLES</a>
            </div>
          </div>

          <h5 class="list-image__subtitle">cabinets</h5>
        </div>

        <div class="list-image__item">
          <div class="list-image__content">
            <img src="../images/FrenchTable_Image_17.jpg" alt="">
            <div class="list-image__body">
               <a class="btn" href="#">VIEW CHAIRS</a>
            </div>
          </div>

          <h5 class="list-image__subtitle">cabinets</h5>
        </div>

        <div class="list-image__item">
          <div class="list-image__content">
            <img src="../images/FrenchTable_Image_18.jpg" alt="">
            <div class="list-image__body">
               <a class="btn" href="#">VIEW SIDEBOARDS</a>
            </div>
          </div>

          <h5 class="list-image__subtitle">cabinets</h5>
        </div>
      </div>
    </div>
  </div>
</div>
