<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>list-image1</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
 
    <div class="boxes">
      <div class="container">
        <div class="boxes-list">
          <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>CURVED ARM DINING CHAIR WITH OPTIONAL RING DETAIL</p>
          </div>

           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>

           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>

           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>

           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>
           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>
           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>
           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>
           <div class="boxes-list__item">
            <div class="item__img">
              <img src="../images/Untitled-1.png">
            </div>
            <p>RECTANGLE DINING TABLE PRODUCT TITLE</p>
          </div>
        </div>
      </div>
    </div>
 
  </body>
</html>
