<div class="list-image list-image--2col-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_012.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>

        <h5 class="list-image__subtitle">Rectangle dining tables</h5>
      </div>
      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_13.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>

        <h5 class="list-image__subtitle">Round dining tables</h5>
      </div>
      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_14.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>

        <h5 class="list-image__subtitle">extension tables</h5>
      </div>
      <div class="list-image__item">
        <div class="list-image__content">
          <img src="../images/FrenchTable_Image_15.jpg" alt="">
          <div class="list-image__body">
            <a class="btn btn--border" href="#">VIEW MORE</a>
          </div>
        </div>

        <h5 class="list-image__subtitle">Coffee tables</h5>
      </div>
    </div>
  </div>
</div>