<div class="list-image list-image--2col-with-title" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_12.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Rectangle dining tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_13.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Round dining tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_14.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">extension tables</h5>
      </div>
      <div class="list-image__item">
        <img src="../images/FrenchTable_Image_15.jpg" alt="">
        <a class="btn btn--border" href="#">VIEW MORE</a>
        <h5 class="list-image__title">Coffee tables</h5>
      </div>
    </div>
  </div>
</div>