<div class="list-image list-image--3col" >
  <div class="container">
    <div class="list-image__wrap">
      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_01.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>
        
        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>
        
        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_03.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_04.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_05.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_06.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_07.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detailt</h5>
      </div>

      <div class="list-image__item">
        <div class="list-image__content">
          <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">
            <img src="../images/FrenchTable_Image_02.jpg" alt="">
            <span class="list-image__link" href="#">VIEW MORE</span>
          </a>
        </div>

        <h5 class="list-image__title">Curved Arm Dining Chair <br /> With Optional Ring Detail</h5>
      </div>
    </div>

    <a class="js-read-more" href="#">LOAD MORE</a>
  </div>
</div>
