<div class="list-image list-image--1r-2col-with-title" >
  <div class="container">
    <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
    <div class="list-image__wrap">
      <div class="list-image__item">
        <img src="../../images/image11.jpg" alt="">
        <h4 class="list-image__title">cabinets</h4>
      </div>
      <div class="list-image__item">
        <img src="../../images/image12.jpg" alt="">
        <h4 class="list-image__title">console</h4>
      </div>
    </div>
</div>
