<div class="list-image list-image--2col-2row-with-title" >
  <h2 class="list-image__title">VIEW OUR PRODUCTS</h2>
  <div class="list-image__wrap">
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
      <h3 class="list-image__title">Lorem ipsum dolor sit</h3>
    </div>
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
      <h3 class="list-image__title">Lorem ipsum dolor sit</h3>
    </div>
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
      <h3 class="list-image__title">Lorem ipsum dolor sit</h3>
    </div>
    <div class="list-image__item">
      <img src="../../images/images1.jpeg" alt="">
      <h3 class="list-image__title">Lorem ipsum dolor sit</h3>
    </div>
  </div>
</div>
