<div class="masonry">
  <div class="masonry__item">
   <div class="masonry__image"> 
      <img src="../images/FrenchTables_Gallery_Classic_01.jpg" alt="FrenchTables Gallery Classic">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
    <div class="masonry__image">
     <img src="../images/FrenchTables_Gallery_Classic_02.jpg" alt="FrenchTables Gallery Classic">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item masonry__item--height2">
   <div class="masonry__image"> 
      <img src="../images/FrenchTables_Gallery_Contemporary_03.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image"> 
      <img src="../images/FrenchTables_Gallery_Contemporary_04.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image">
      <img src="../images/FrenchTables_Gallery_Contemporary_05.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image">
      <img src="../images/FrenchTables_Gallery_Contemporary_06.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item masonry__item--height2">
   <div class="masonry__image">
      <img src="../images/FrenchTables_Gallery_Contemporary_07.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image">
      <img src="../images/FrenchTables_Gallery_Contemporary_08.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image">
      <img src="../images/FrenchTables_Gallery_Contemporary_09.jpg" alt="FrenchTables Gallery Contemporary">
    </div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item masonry__item--height2">
  <div class="masonry__image">  <img src="../images/FrenchTables_Gallery_Contemporary_10.jpg" alt="FrenchTables Gallery Contemporary">
</div>    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item masonry__item--height2">
   <div class="masonry__image"> <img src="../images/FrenchTables_Gallery_Classic_11.jpg" alt="FrenchTables Gallery Classic">
   </div> <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image"> <img src="../images/FrenchTables_Gallery_Contemporary_12.jpg" alt="FrenchTables Gallery Contemporary"></div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
   <div class="masonry__image"> <img src="../images/FrenchTables_Gallery_Contemporary_13.jpg" alt="FrenchTables Gallery Contemporary"></div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>

  <div class="masonry__item">
    <div class="masonry__image"><img src="../images/FrenchTables_Gallery_Classic_14.jpg" alt="FrenchTables Gallery Classic"></div>
    <div class="masonry__bg">
      <a class="icon-resize"></a>
    </div>
  </div>
</div>
