<div class="masonry">
  <div class="masonry__sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/200/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/200/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/150/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/150/300/?random
" alt=""></div>
  <div class="masonry__item"><img src="https://picsum.photos/300/150/?random
" alt=""></div>
</div>
