<div class="box-text box-text--2but">
  <div class="container">
    <h2 class="box-text__title">Our Difference</h2>

    <div class="box-text__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Frigilla ut morbi tincidunt  augue interdum vetlit euimod in. Frementum et sollicitudin ac orci phasellus egestas    tellus rutrum tellus. Sodales ut eu sem integer.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Frigilla ut morbi tincidunt augue interdum vetlit euimod in. Frementum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sodales ut eu sem integer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Frigilla ut morbi tincidunt augue interdum vetlit euimod in.
      </p>
    </div>

    <div class="box-text__link">
      <a class="btn" href="#">BOOK A CONSULTATION</a>
      <a class="btn" href="#">OUR DESIGN PROCESS</a>
    </div>
  </div>
</div>
