<div class="thank-you">
  <div class="container">
    <div class="thank-you__text">
      <h2 class="title">THANK YOU FOR<br> GETTING IN TOUCH</h2>
      <p>One of our designers will respond to your enquiry shortly</p>
    </div>
  </div>
  <div class="thank-you__image">
    <h2 class="title">FOLLOW US ON SOCIAL</h2>
    <div class="container">
      <div class="thank-you__image__wrap">
        <div class="thank-you__image__item">
          <img src="../images/053.jpg" alt="">
          <div class="thank-you__image__icon">
            <a href="" class="icon-facebook icon--bg"></a>
          </div>
        </div>
        <div class="thank-you__image__item">
          <img src="../images/033.jpg" alt="">
          <div class="thank-you__image__icon">
            <a href="" class="icon-instagram icon--bg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>