<div class="thank-you">
  <div class="container">
    <h2 class="thank-you__title">THANK YOU FOR GETTING IN TOUCH</h2>
    <div class="thank-you__content">
      <p>One of our designers will respond to your enquiry shortly</p>
    </div>
  </div>
  <div class="thank-you__wrap">
    <div class="container">
      <h2 class="thank-you__title">FOLLOW US ON SOCIAL</h2>

      <div class="thank-you__list">
        <div class="thank-you__item">
          <img src="../images/FrenchTable.Thank-you_02.jpg" alt="">
          <div class="thank-you__icon">
            <a href="" class="icon-facebook icon--bg"></a>
          </div>
        </div>

        <div class="thank-you__item">
          <img src="../images/FrenchTable.Thank-you_01.jpg" alt="">
          <div class="thank-you__icon">
            <a href="" class="icon-instagram icon--bg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
