<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>{{ site_title }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" href="../css/styles.css">
      <!-- Base js library from drupal -->
      <script src="script/jquery.min.js"></script>
      <script src="script/drupal/jquery.once.js"></script>
      <script src="script/drupal/drupal.js"></script>
      <script src="script/drupal/picturefill.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
      {% include '../layouts/header.twig' %}
      {% include '../layouts/navigation.twig' %}
    {% endblock %}
    <main>
      {% include '../components/box-hero.twig' %}
      {% include '../components/box-image-text.twig' %}
      {% include '../components/list-image.twig' %}
      {% include '../components/box-text.twig' %}
      {% include '../components/cta.twig' %}
      {% include '../components/box-contact.twig' %}
      
    </main>
    {% block content %}
      {% include '../layouts/box-feature.twig' %}
    {% endblock %}
    {% block footer %}
      {% include '../layouts/footer.twig' %}
    {% endblock %}
    {% block footer_scripts %}
      <script src="../js/lib/media.match.min.js"></script>
      <script src="../js/lib/enquire.min.js"></script>
      <script src="../js/lib/jquery.imagesloaded.min.js"></script>
      <script src="../js/lib/jquery.masonry.min.js"></script>
      <script src="../js/lib/slick.min.js"></script>
      <script src="../js/script.js"></script>
    {% endblock %}
  </body>
</html>
