.break-mobile {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.break {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

//combination width js-read-more
.read-more {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  &.is-show {
    display: block;
  }
}

.icon-search:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\ea90"; 
}

.icon-instagram:before {
  content: "\ea92"; 
}

.icon-youtube:before {
  content: "\e904"; 
}

.icon-pinterest:before {
  content: "\e902"; 
}
