%btn,
.btn {
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
  outline: none;
  padding: 8px 10px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: $btn-bg;
  color: $btn-color;
  cursor: pointer;
  min-width: 170px;
  box-sizing: border-box;

  &--border {
    border: 1px solid $primary-color;
  }

  &--longer {
    padding: 10px 30px;
  }

  &:hover {
    background-color: $btn-bg-hover;
    color: $btn-color-hover;
  }

  @media only screen and (min-width: 467px) {
    
    padding: 10px 15px;
  }
}
