.btn {
  @include gotham;
  font-weight: 500;
  font-size: 12px;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  padding: 0 10px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: $btn-bg;
  color: $btn-color;
  cursor: pointer;
  min-width: 193px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1.2px;
  box-sizing: border-box;

  @media only screen and (min-width: 768px) { 
    padding: 0 22px;
  }

  &--border {
    border: 1px solid $primary-color !important;
  }

  &--longer {
    padding: 0 69px !important;
  }

    &:active,
    &:hover {
      @media only screen and (min-width: 768px){
        background-color: $btn-bg-hover;
        color: $btn-color-hover;
    }
  }
}
