.btn {
  @include gotham;
  font-weight: 500;
  font-size: 12px;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  outline: none;
  padding: 0;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background: transparent;
  cursor: pointer;
  height: 40px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  color: $primary-color;
  
  &--hover {
    @media only screen and (min-width: 768px) {
      &:hover {
        background: $primary-color;
        color: $second-color;
      }
    }
  }

  &--long {
    width: 208px;
  }

  &--longer {
    width: 160px;

    @media only screen and (min-width: 768px) {
      width: 223px;
    }
  }

  &--longer-v2 {
    width: 175px;

    @media only screen and (min-width: 768px) {
      width: 223px;
    }
  }

  &--max {
    width: 335px;

    @media only screen and (min-width: 768px) {
      width: 336px;
    }
  }

  &--border-white {
    border: 1px solid $second-color;
    color: $second-color;
    
    @media only screen and (min-width: 768px) {
      &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  &--border-primary {
    border: 1px solid $primary-color;
    color: $primary-color;
    
    @media only screen and (min-width: 768px) {
      &:hover {
        background: $primary-color;
        color: $second-color;
      }
    }
  }

  &--border-primary-v2 {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &--bg-white {
    border: 1px solid $second-color;
    color: $second-color;
    
    @media only screen and (min-width: 768px) {
      background: $second-color;
      color: $primary-color;
      border: none;

      &:hover {
        background: $primary-color;
        color: $second-color;
      }
    }
  }

  &--bg-white-v2 {
    background: $second-color;
    color: $primary-color;

    @media only screen and (min-width: 768px) {
      &:hover {
        background: $primary-color;
        color: $second-color;
      }
    }
  }

  &--bg-primary {
    background: $primary-color;
    color: $second-color;
    
    @media only screen and (min-width: 768px) {
      &:hover {
        background: $second-color;
        color: $primary-color;
      }
    }
  }

  &:active,
  &.active, {
    background: $primary-color;
    color: $second-color;
    
    @media only screen and (min-width: 768px) {
      &:hover {
        background: $second-color;
        color: $primary-color;
      }
    }
  }
}
