// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #333132;
$white: #fff;

// $pigeon-post: #aec9de;
// $pigeon-post-light: rgba($pigeon-post, .75);

// Brand colors
$primary-color: $black;
$second-color : $white;
$text-color: $black;

// Link color
$link-color: $primary-color;
$link-color-hover: darken($primary-color, 15%);

// Button color
$btn-color: $primary-color;
$btn-bg: $second-color ;
$btn-color-hover: $second-color;
$btn-bg-hover: $primary-color;
