form{
  display: flex;
  flex-direction: column;
  
  .form-list {
    margin-bottom: 20px;

    &:nth-last-of-type(2) {
      margin-bottom: 30px;
    }
  }

  .form-item {
    display: flex;
    margin-bottom: 10px;

    label {
      width: 100%;
      padding: 10px 0;
      text-transform: capitalize;
      display: block;
      margin-bottom: 20px;
      font-weight: normal;
    }
  }
}

button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  @include gotham;
  font-weight: 300;
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
  color: $text-color;
  font-size: 14px;
  padding: 0 0 5px 0;
  transition: all .3s ease-in-out;
  width: 100%;
  border-bottom: 1px solid rgba($primary-color, .5);
  line-height: 1.86;
  background: transparent;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: $text-color;
  }

  &:disabled {
    background: rgba($text-color, .5);
  }
}

input[type="text"] {
  @extend %form-text;

  &.error {
    background: rgba(red,.8);
  }
}

textarea {
  @extend %form-text;
}

select {
  border: 1px solid $text-color;;
  outline: none;
  box-shadow: none;
  padding: 5px;
  font-size: 16px;
  text-align-last: center;
  color: $text-color;
  background: $white;
}
