form{
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    flex-direction: column;

    label {
      width: 100%;
      padding: 10px 0;
      text-transform: capitalize;
      display: block;
      margin-bottom: 20px;
      font-weight: normal;
    }
  }
}

button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  // @include helvetica;
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 10px 0;
  transition: all .3s ease-in-out;
  width: 100%;
  border-bottom: 1px solid rgba($primary-color, .5);
  margin-bottom: 10px;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: rgba($text-color, .5);
    text-transform: capitalize;
  }

  &:disabled {
    background: rgba($text-color, .5);
  }
}

input[type="text"] {
  @extend %form-text;

  &.error {
    background: rgba(red,.8);
  }
}

select {
  border: 1px solid $text-color;;
  outline: none;
  box-shadow: none;
  padding: 5px;
  font-size: 16px;
  text-align-last: center;
  color: $text-color;
  background: $white;
}
