// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }
}

.hidden-on-desktop {
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.hidden-on-tablet {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.hidden-on-mobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

//combination width js-read-more
.read-more {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  &.is-show {
    display: block;
  }
}

.js-read-more {
  line-height: 2;
  @extend %link;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.breakpoint {
  @media only screen and (max-width: 767px) {
    display: block;
    margin-bottom: 16px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 36px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 52px;
  }
}
