// ICONS.
%icons,
.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  color: $primary-color;
  box-sizing: border-box;
  display: inline-flex;
  justify-items: center;
  align-items: center;

  &:after,
  &:before {
    font-family: "french-table";
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
  }

  &--bg {
    &:before,
    &:after {
      background: $black;
      color: #fff;
      opacity: .5;
      transition: opacity .3s linear;
      height: 38px;
      width: 38px;
      line-height: 38px;
      text-align: center;
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
    }
  }
}

[class^='icon-'],
[class*=' icon-'] {
    @extend %icons;
}
