// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6,
%typography {
  @include didot;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.286;
  // margin-bottom: 13px;
}

h1,
%h1 {
  font-size: 22px;
  line-height: 1.1818;
  letter-spacing: .66px;

  @media only screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: .96;
  }
}

h2,
%h2 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: .6px;
  // margin-bottom: 18px;

  @media only screen and (min-width: 1024px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 28px;
    letter-spacing: 1.286px;
    letter-spacing: .84px;
  }
}

h3 {
  font-size: 18px;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
  }
}

h4 {
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }

  font-size: 16px;
}

h5 {
  font-size: 14px;
  line-height: 1.2857;
  letter-spacing: 1.4px;
}

h6 {
  font-size: 12px;
  line-height: initial;
  letter-spacing: 1.2px;
  // margin-bottom: 19px;
}

%h5 {
  font-size: 14px;
  line-height: 1.2857;
  letter-spacing: 1.4px;

  @media only screen and (min-width: 1024px) {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: initial;
  }
}

.text--bold {
  // gotham medium
  @include gotham;
  font-weight: 400;
}

.text--small {
  // gotham book
  @include gotham;
  font-weight: 500;
}

.text--tiny {
  font-size: 10px;
  line-height: initial;
  letter-spacing: 1px;
}

%link,
.link {
  @extend .text--small;
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: inline-block;
  line-height: initial;

  @media only screen and(min-width: 1024px) {
    &:active,
    &:hover {
      color: $link-color-hover;
    }
  }
  
  &--large {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.2857;
  }

  &--read-more {
    line-height: 2;
  }

  &--white {
    color: $white;

    &:active,
    &:hover {
      color: darken($white, 15%);
    }
  }
}

a {
  @extend %link;
}

p {
  margin-bottom: 16px;
  letter-spacing: 0;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

span {
  margin: 0;
}

sup {
  vertical-align: super;
}

small {
  font-size: smaller;
}

br {

}

abbr {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

tt,
code,
kbd,
samp {
  font-family: monospace;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

label {
  font-weight: 700;
}

blockquote {
  p {
    display: inline;
  }

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }
}

iframe {
  max-width: 100%;
}

figure {
  line-height: 0;
}
