.box-image-text {
  &--50-50-highpoint {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      padding-left: 40px;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .box-image-text__content-left {
      width: 50%
    }
  }

  &--50-50-highpoint-01 {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      width: 70%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__content-left {
      width: 30%;
      background: #f2f6f5;
      padding: 20px 0 0 20px;
    }
  }

  &--50-50-thomastown {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      padding-left: 40px;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .box-image-text__content-left {
      width: 50%
    }
  }

  &--50-50-thomastown-01 {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      width: 70%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__content-left {
      width: 30%;
      background: #f2f6f5;
      padding: 20px 0 0 20px;
    }
  }

  &--50-50-nunawading {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      padding-left: 40px;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .box-image-text__content-left {
      width: 50%
    }
  }

  &--50-50-nunawading-01 {
    padding: 70px 0;

    .box-image-text__wrap {
      display: flex;
      justify-content: space-between;
    }

    .box-image-text__image {
      width: 70%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .box-image-text__content-left {
      width: 30%;
      background: #f2f6f5;
      padding: 20px 0 0 20px;
    }
  }
}

.btn {
  display: block;

  @media only screen and (min-width: 768px) {
    display: none
  }
}
