.box-trial {
  padding: 40px 0;
  background: #f2f6f5;
  
  &__list {
    display: flex;
    margin: 0 -30px;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__item {
    width: calc(100% / 4);
    padding: 0 30px;
  }

  &__bottom {
    text-align: center;
    background: transparent;
  }
}
