.box-video {
  text-align: center;
  padding: 35px 0;

  &__video {
    margin-bottom: 30px;
    padding: 0 80px;

    video {
      height: auto;
      width: 100%;
      display: inline-block;
    }
  }
}
