.box-icon {
  padding: 50px 0;

  &__content {
    display: flex;
  }

  &__item {
    width: 20%;
  }

  &__image {
    margin-bottom: 25px;
    text-align: center;
  }

  &__title {
    text-align: center;
  }
}
