<div class="box-contact">
  <div class="container">
    <div class="box-contact__wrap">
      <div class="box-contact__left">
        <div class="box-contact__info">
          <h5 class="box-contact__title">contact</h5>

          <h3 class="box-contact__name">Jo Paydon</h3>

          <div class="box-contact__list">
            <div class="box-contact__item">
              <a href="tel:0434 033 602"><img src="../images/phone.png" alt=""></a>
              <div class="box-contact__item__content">
                <a href="tel:0434 033 602"><p>0434 033 602</p></a>
              </div>
            </div>

            <div class="box-contact__item">
              <a href="mailto:trawla.enquiries@gmail.com" target="_top"><img src="../images/email.png" alt=""></a>
              <div class="box-contact__item__content">
                <a href="mailto:trawla.enquiries@gmail.com" target="_top"><p>trawla.enquiries@gmail.com</p></a>
              </div>
            </div>

            <div class="box-contact__item">
              <a href="https://www.instagram.com/trawla/"><img src="../images/ins.png" alt=""></a>
              <div class="box-contact__item__content">
                <a href="https://www.instagram.com/trawla/"><p>instagram.com/trawla</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-contact__right">
        <h5 class="box-contact__title">keep me in the loop</h5>

        <form action="" method="POST">
          <div class="form-list">
            <div class="form-item">
              <input type="text"  placeholder="Name">
            </div>

            <div class="form-item">
              <input type="email"  placeholder="Email">
            </div>
          </div>
        </form>

        <div class="box-contact__button">
          <a href="#" class="btn">SUBMIT</a>
        </div>
      </div>
    </div>
  </div>
</div>
