<div class="box-contact">
  <div class="container">
    <div class="box-contact__wrap">
      <div class="box-contact__left">
        <div class="box-contact__info">
          <h5 class="box-contact__title">contact</h5>

          <h3 class="box-contact__name">Jo Paydon</h3>

          <div class="box-contact__list">
            <div class="box-contact__item">
              <ul>
                <li><a href="tel:0434 033 602">0434 033 602</a></li>
                <li><a href="mailto:trawla.enquiries@gmail.com" target="_top">trawla.enquiries@gmail.com</a></li>
                <li><a href="https://www.instagram.com/trawla/">instagram.com/trawla</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="box-contact__right">
        <h5 class="box-contact__title">keep me in the loop</h5>

        <form action="" method="POST">
          <div class="form-list">
            <div class="form-item">
              <input type="text"  placeholder="Name">
            </div>

            <div class="form-item">
              <input type="email"  placeholder="Email">
            </div>
          </div>
        </form>

        <div class="form-item">
          <input type="submit"></input>
        </div>
      </div>
    </div>
  </div>
</div>
