<div class="box-video-text">
  <div class="container">
    <div class="box-video-text__video">
      <video width="698" height="395" id="my-video" class="video-js"poster="../images/Video-Thumbnail1.jpg" data-setup="{}"controls loop autoplay and muted and preload="auto">
        <source src="../videos/Trawla_Website_Video.MOV" type="video/mp4">
      </video>
    </div>

    <h2 class="box-video-text__title">Brutally Modern Bags</h2>

    <div class="box-video-text__content">
      <p>“Industrial Pop is a culture. It has contradictions and honesty, reflecting a love of ordinary chaos.<br>
          It’s a celebration of artistic intuition, translating raw materials into art.<br>
          It’s about breaking rules - because there are none - and creating your own style.”</p>
    </div>
  </div>
</div>
