.box-video-text {
  padding-bottom: 42px;

  &__video {
    video {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    text-align: center;
    padding: 43px 0 28px 0;
  }

  &__content {
    text-align: center;
  }

  &__video {
    padding: 0 9px;
  }
}

.vjs-control-bar,
.vjs-big-play-button {
  opacity: 0 !important;
}

video {
  opacity: 0;
}

.loaded video {
  opacity: 1;
}

.video-js {
  background: none !important;

  @media screen and (max-width: 767px) {
    width: 100% !important;
    height: auto !important;
  }
}

.video-js .vjs-tech {
  position: relative;
}
