.box-video-text {
  padding-bottom: 42px;

  &__media {
    position: relative;

    img {
      position: absolute;
    }
  }

  &__title {
    text-align: center;
    padding: 36px 0 28px 0;
  }

  &__content {
    text-align: center;
  }

  &__video {
    padding: 0 9px;
  }
}
