%btn,
.btn {
  @include LibreFranklin;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 1px solid $btn-color;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  padding: 10px 24px;
  text-align: center;
  text-shadow: none;
  font-weight: 300;
  transition: all .3s ease;
  color: $black;
  cursor: pointer;
  outline: 0;
  letter-spacing: 1.4px;


  &:active,
  &:hover {
    background-color: $black;
    color: $white;
  }
}
