button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  @include Georgia;
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: 1px solid $white;
  box-shadow: inherit;
  box-sizing: border-box;
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0 12px 15px;
  transition: all .3s ease-in-out;
  width: 100%;
  letter-spacing: 0.32px;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:-moz-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 rem(5px) rgba($text-color, 1);
    outline: 0 none;
  }

  &.error {
    border-color: $red;
    color: $red;

    &::-webkit-input-placeholder {
      color: $red;
    }

    &::-moz-placeholder {
      color: $red;
    }

    &:-ms-input-placeholder {
      color: $red;
    }

    &:-moz-placeholder {
      color: $red;
    }

    &:focus {
      box-shadow: 0 0 rem(5px) rgba($red, 1);
      outline: 0 none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
input[type='text'],
.form-text {
  @extend %form-text;
}

input[type='email'],
.form-text {
  @extend %form-text;
}

input[type='tel'],
.form-url,
.form-search,
.form-email,
.form-text {
  @extend %form-text;
}

.form-textarea {
  @extend %form-text;
  height: auto;
  min-height: rem(200px);
  padding: rem(15px 25px);
}

.form-item,
.form-actions {
  margin-bottom: 10px;

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-weight: 400;
  }
}

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: rem(8px);
}
