// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }
}


.vjs-control-bar,
.vjs-big-play-button {
  opacity: 0 !important;
}

.video-js {
  background: none !important;
  width: 100% !important;
  height: auto !important;
}

.video-js .vjs-tech {
  position: relative;
}
