<div class="box-feature">
  <div class="container">
    <div class="box-feature__wrap">
      <div class="box-feature__left ">
          <h6 class="box-feature__subtitle text--small">SIGN UP</h6>
          <h2 class="box-feature__title">NEWS &amp; UPDATES</h2>
          <div class="box-feature__content">
            <p>Be the first to know about exciting new designs from <br /> French Tables by Mark Alexander Design Artistry.</p>
          </div>
          
          <div class="box-feature__form">
            <form>
              <div class="form-item">
                <input type="text" placeholder="Name">
              </div>
              
              <div class="form-item">
                <input type="email" placeholder="Email">
              </div>
              
              <div class="form-item">
                <input type="submit" value="SUBMIT" class="btn btn--border-black">
              </div>
            </form>
          </div>
      </div>

      <div class="box-feature__right">
          <h6 class="box-feature__subtitle text--small">STAY IN TOUCH</h6>
          <h2 class="box-feature__title">FOLLOW US</h2>
          
          <div class="box-feature__content">
            <p>Stay connected with us on social so we can keep <br /> you in the know.</p>
          </div>
          
          <ul class="list-icon">
            <li><a href="" class="icon-facebook icon--bg"></a></li>
            <li><a href="" class="icon-instagram icon--bg"></a></li>
            <li><a href="" class="icon-youtube icon--bg"></a></li>
            <li><a href="" class="icon-pinterest icon--bg"></a></li>
          </ul>
      </div>
    </div>
  </div>
</div> 
