<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>box-contact1</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body> 
    <div class="box-feature">
    <div class="container">
    <div class="box-feature__wrapper">
      <div class="box-feature__update ">
          <h6 class="box-feature__subtitle text--small">SIGN UP</h6>
          <h2 class="box-feature__title">NEWS &amp; body UPDATES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       
        <form>
          <div class="form-item">
            <input type="text" placeholder="Name">
          </div>
          
          <div class="form-item">
            <input type="text" placeholder="Email">
          </div>
          
          <div class="form-item">
            <input type="submit" value="SUBMIT" class="btn btn--border">
          </div>
        </form>
       </div>

        <div class="box-feature__follow">
          <h6 class="box-feature__subtitle text--small">STAY IN TOUCH</h6>
          <h2 class="box-feature__title">FOLLOW US</h2>
          <p>Follow us on Facebook and Instagram to see all our latest products and new designs. Eiusmod tempor incididunt ut labt.</p>
          <div class="list-icon">
            <a href="" class="icon-facebook icon--bg"></a>
             <a href="" class="icon-instagram icon--bg"></a>
              <a href="" class="icon-youtube icon--bg"></a>
               <a href="" class="icon-linkedin icon--bg"></a>
          </div>
        </div>
      </div>
    </div>
    </div> 
    </div> 
  </body>
</html>
