<div class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="main-menu">
          <nav>
            <ul>
              <li><a href="#">HOME</a>
              </li>
              <li><a href="#">TABLES</a>
              </li>
              <li><a href="#">DINING CHAIRS</a>
              </li>
              <li><a href="#">SIDEBOARDS</a>
              </li>
              <li><a href="#">WORK</a>
              </li>
              <li><a href="#">ABOUT</a>
              </li>
              <li><a href="#">CONTACT</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__right">
          <a class="back-to-top" href="#">BACK TO TOP</a>
        </div>

      </div>

      <div class="footer__bottom">
        <div class="footer__bottom__text">
          <p>FRENCH TABLES &copy; 2018 ALL RIGHTS RESERVED <span>AUSTRALIA | INTERNATIONAL</span>
          </p>
          <P>PRIVACY POLICY | STRATEGY, DESIGN & DEVELOPMENT BY SENTIUS</P>
        </div>

        <div class="footer__bottom__popover-content">
          <img src="../../images/Sub-image.svg" alt="">
        </div>
      </div>
    </div>
  </div>
