<div class="footer text--small">
  <div class="container">
    <div class="footer__top">
      <div class="scroll-up">
        <a class="icon-arrow-up text--small js-scroll-top" href="#">BACK TO TOP</a>
      </div>

      <ul class="main-menu">
        <li><a href="#">HOME</a>
        </li>
        <li><a href="#">TABLES</a>
        </li>
        <li><a href="#">DINING CHAIRS</a>
        </li>
        <li><a href="#">SIDEBOARDS</a>
        </li>
        <li><a href="#">WORK</a>
        </li>
        <li><a href="#">ABOUT</a>
        </li>
        <li><a href="#">CONTACT</a>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <div class="footer__content">
        <p>FRENCH TABLES &copy; 2018 ALL RIGHTS RESERVED <span class="text--bold">AUSTRALIA <span class="symbol">|</span> INTERNATIONAL</span>
        </p>
        <p>PRIVACY POLICY <span class="symbol symbol-change">|</span>STRATEGY, DESIGN & DEVELOPMENT BY SENTIUS</p>
      </div>

      <div class="footer__image">
        <img src="../images/logo-footer.svg" alt="">
      </div>
    </div>
  </div>
</div>
