<div class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/home.html" class="logo"><img src="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/images/logo.svg"></a>
        <span class="menu-bars">
          <span class="menu-bars__row"></span>
          <span class="menu-bars__row"></span>
          <span class="menu-bars__row"></span>
        </span>
      </div>

      <div class="header__menu">
        <ul class="main-menu main-menu--has-child">
          <li class="menu-expend">
            <a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/category-tables.html">TABLES</a>
            <ul class="sub-menu">
              <li><a href="#">Rectangle Dining Tables</a></li>
              <li><a href="#">Round Dining Tables</a></li>
              <li><a href="#">Extension Tables</a></li>
              <li><a href="#">Coffee Tables</a></li>
            </ul>
          </li>

          <li><a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/dining-chairs.html">DINING CHAIRS</a></li>
          <li><a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/sideboards.html">SIDEBOARDS</a></li>
          <li><a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/work.html">WORK</a></li>

          <li class="menu-expend">
            <a href="#">ABOUT</a>
            <ul class="sub-menu">
              <li><a href="#">French Tables</a></li>
              <li><a href="#">Design Process</a></li>
            </ul>
          </li>

          <li><a href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/contact.html">CONTACT</a></li>
          <li class="book-link"><a class="btn btn--border-black" href="https://bienvu.github.io/ssv-frt-styleguide/frt-styleguide/styleguide/contact.html/">BOOK A CONSULTATION</a></li>
        </ul>

        <div class="box-search">
          <form action="#" class="form-search">
            <div class="form-item">
              <input type="search" placeholder="SEARCH">
            </div> 
          </form>

          <div class="item-icon"><i href="#" class="icon-search"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
