<div class="header">
  <div class="header__logo">
    <img src="../../images/80.jpeg">
  </div>
  <div class="header__content">
    <div class="main-menu">
      <nav>
        <ul>
          <li class="menu-extend"><a href="#">TABLES</a>
            <ul class="menu">
              <li><a href="#">DINING CHAIRS</a></li>
              <li><a href="#">SIDEBOARDS</a></li>
              <li><a href="#">WORK</a></li>
            </ul>
          </li>
          <li><a href="#">DINING CHAIRS</a></li>
          <li><a href="#">SIDEBOARDS</a></li>
          <li><a href="#">WORK</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a class="box" href="#">BOOK A CONSULTATION</a></li>
          <li>
            <a class="search-icon" href="#"></a>
            <div class="box-search">
              <form action="">
                
              </form>
            </div>
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
</div>
