<div class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="#" class="logo"><img src="../images/logo.svg"></a>
        <span class="menu-bars">
          <span class="menu-bars__row"></span>
          <span class="menu-bars__row"></span>
          <span class="menu-bars__row"></span>
        </span>
      </div>

      <div class="header__menu">
        <ul class="main-menu main-menu--has-child">
          <li class="menu-extend">
            <a href="#">TABLES</a>
            <ul class="menu">
              <li><a href="#">Rectangle Dining Tables</a></li>
              <li><a href="#">Round Dining Tables</a></li>
              <li><a href="#">Extension Tables</a></li>
              <li><a href="#">Coffee Tables</a></li>
            </ul>
          </li>

          <li><a href="#">DINING CHAIRS</a></li>
          <li><a href="#">SIDEBOARDS</a></li>
          <li><a href="#">WORK</a></li>

          <li class="menu-extend">
            <a href="#">ABOUT</a>
            <ul class="menu">
              <li><a href="#">French Tables</a></li>
              <li><a href="#">Design Process</a></li>
            </ul>
          </li>

          <li><a href="#">CONTACT</a></li>
          <li><a class="book-link btn btn--long btn--border-primary-v2" href="#">BOOK A CONSULTATION</a></li>
        </ul>

        <div class="box-search">
          <form action="#" class="form-search">
            <div class="form-item">
              <input type="text" placeholder="SEARCH">
            </div> 
          </form>

          <div class="item-icon"><i href="#" class="icon-search"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
