<div class="header">
  <h1 class="header__title">FRENCH TABLES</h1>
  <div class="header__menu">
    <nav>
      <ul>
        <li><a href="#">TABLES</a></li>
        <li><a href="#">DINING CHAIRS</a></li>
        <li><a href="#">SIDEBOARDS</a></li>
        <li><a href="#">WORK</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">BOOK A CONSULTATION</a></li>
        <li class="icon"><a href="#"></a></li>
      </ul>
    </nav>
  </div>
</div>
