<div class="container">
  <p><a class="btn" href="#">submit</a></p>
  <p><a class="btn" href="#">get directions</a></p>
  <p><a class="btn btn--large-with-cart" href="#">add to cart</a></p>
  <p><a class="btn btn--large-with-arrow" href="#">buy now</a></p>
  <p><a class="btn btn--icon" href="#"></a></p>
  <p><a class="btn btn--text" href="#">go</a></p>
</div>
